CampsiteAvailabilityEndpoint/src/main/resources/wsdl/AccountServiceWsdl.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.revature.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AccountServiceService" targetNamespace="http://service.revature.com/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.revature.com/" elementFormDefault="unqualified" targetNamespace="http://service.revature.com/" version="1.0">
<xs:element name="findAll" type="tns:findAll"/>
<xs:element name="findAllResponse" type="tns:findAllResponse"/>
<xs:complexType name="findAll">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="findAllResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:account"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="account">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="findAll">
<wsdl:part element="tns:findAll" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="findAllResponse">
<wsdl:part element="tns:findAllResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="AccountService">
<wsdl:operation name="findAll">
<wsdl:input message="tns:findAll" name="findAll"> </wsdl:input>
<wsdl:output message="tns:findAllResponse" name="findAllResponse"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="AccountServiceServiceSoapBinding" type="tns:AccountService">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="findAll">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="findAll">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="findAllResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="AccountServiceService">
<wsdl:port binding="tns:AccountServiceServiceSoapBinding" name="AccountServicePort">
<soap:address location="http://localhost:7070/soap-service/account-service"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>